<div>
  	<input type="value" name="{{name}}" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model" is-open="status.opened" ng-required="true" max-date="maxDate" clear-text="Limpiar" close-text="Salir" current-text="Hoy" placeholder="{{format}}" ng-disabled="true" />
	<span class="input-group-btn">
    	<button type="button" class="btn btn-default" ng-click="open()">
        	<i class="glyphicon glyphicon-calendar"></i>
        </button>
	</span>
</div>
