<div class="container-fluid">

	<form class="form">

		<div class="form-group row">

			<div class="form-group col-md-3">
				<label class="lebels-gral" for="depart">Depart</label>
				<select id="depart"></select>
				<!--airport-finder name="depart" id="depart" required="true" model="schedule.depart" placeholder=""></airport-finder-->
			</div>

			<div class="form-group col-md-3">
				<label class="lebels-gral" for="arrive">Depart</label>
				<select id="arrive"></select>
				<!--airport-finder name="arrive" id="arrive" required="true" model="schedule.arrive" placeholder=""></airport-finder-->
			</div>

			<div class="form-group col-md-3 ">
				<label for="seats">Seats</label>
				<input type="number" class="col-md-2" id="seats" required minlength="1" maxlength="2">
			</div>

			<div class="form-group col-md-3 ">
				<label for="departDate">Depart Date</label>
				<date-picker-directive model="departDate" name="departDate"></date-picker-directive>
			</div>

		</div>

		<div class="form-group row">
  
			<div class="col-xs-12 col-md-8">
				<div class="form-group col-md-3">
					<div class="checkbox">
						<label><input type="checkbox">Sort By Fare</label>
					</div>
				</div>
			</div>
		
			<div class="col-xs-6 col-md-4">
				<div class="form-group col-md-3">
					<input type="submit" name="">
				</div>
			</div>

		</div>

	</form>
</div>