<div ng-show="error" class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> {{error}}
</div>
<fieldset>
    <legend class="col-md-6 col-md-offset-3">Sign in with your credentials</legend>
    <form name="signinForm" ng-submit="authenticate()">
        <div ng-class="{'form-group': true, 'has-error': signinForm.email.$invalid}">
            <div class="col-md-6 col-md-offset-3">
                <input type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    value=""
                    placeholder="email"
                    ng-model="email" 
                    required/>
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>

        <div ng-class="{'form-group': true, 'has-error': signinForm.password.$invalid}">
            <div class="col-md-6 col-md-offset-3">
                <input type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    value=""
                    ng-model="password"
                    placeholder="password"
                    required />
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block" ng-disabled="signinForm.$invalid">Submit</button>
            </div>
        </div>
    
        <!--div class="social-providers col-md-6 col-md-offset-3">
            <p>Or use your existing account on one of the following services to sign in:</p>
            <div>
                <div ng-repeat="provider in providers">
                    <a href="" ng-click="authenticate(provider.id)"><img src="images/providers/"+provider.id+".png" style="width:60px;height:60px;"></a>
                </div>
            </div>
        </div-->

</fieldset>
